pipeline/Bulk Copy from Files to Database.json
{
	"name": "Bulk Copy from Files to Database",
	"properties": {
		"activities": [
			{
				"name": "Get Files",
				"type": "GetMetadata",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataset": {
						"referenceName": "GetMetadataDataset",
						"type": "DatasetReference",
						"parameters": {
							"SourceContainer": {
								"value": "@pipeline().parameters.SourceContainer",
								"type": "Expression"
							},
							"SourceDirectory": {
								"value": "@pipeline().parameters.SourceDirectory",
								"type": "Expression"
							}
						}
					},
					"fieldList": [
						"childItems"
					],
					"storeSettings": {
						"type": "AzureBlobFSReadSettings",
						"recursive": true
					},
					"formatSettings": {
						"type": "DelimitedTextReadSettings"
					}
				}
			},
			{
				"name": "ForEachFile",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "Get Files",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('Get Files').output.childItems",
						"type": "Expression"
					},
					"activities": [
						{
							"name": "CopyFiles",
							"type": "Copy",
							"dependsOn": [],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "AzureSqlSource",
									"queryTimeout": "02:00:00",
									"partitionOption": "None"
								},
								"sink": {
									"type": "SqlDWSink",
									"allowPolyBase": true,
									"polyBaseSettings": {
										"rejectValue": 0,
										"rejectType": "value",
										"useTypeDefault": true
									}
								},
								"enableStaging": true,
								"stagingSettings": {
									"linkedServiceName": {
										"referenceName": "synapse-grad-jhb-WorkspaceDefaultStorage",
										"type": "LinkedServiceReference"
									},
									"path": "adfsolutiontemplate/BulkCopyfromFilestoDB"
								},
								"translator": {
									"type": "TabularTranslator",
									"mappings": [
										{
											"source": {
												"name": "CustomerID"
											},
											"sink": {
												"name": "CustomerID"
											}
										},
										{
											"source": {
												"name": "NameStyle"
											},
											"sink": {
												"name": "NameStyle"
											}
										},
										{
											"source": {
												"name": "Title"
											},
											"sink": {
												"name": "Title"
											}
										},
										{
											"source": {
												"name": "FirstName"
											},
											"sink": {
												"name": "FirstName"
											}
										},
										{
											"source": {
												"name": "MiddleName"
											},
											"sink": {
												"name": "MiddleName"
											}
										},
										{
											"source": {
												"name": "LastName"
											},
											"sink": {
												"name": "LastName"
											}
										},
										{
											"source": {
												"name": "Suffix"
											},
											"sink": {
												"name": "Suffix"
											}
										},
										{
											"source": {
												"name": "CompanyName"
											},
											"sink": {
												"name": "CompanyName"
											}
										},
										{
											"source": {
												"name": "SalesPerson"
											},
											"sink": {
												"name": "SalesPerson"
											}
										},
										{
											"source": {
												"name": "EmailAddress"
											},
											"sink": {
												"name": "EmailAddress"
											}
										},
										{
											"source": {
												"name": "Phone"
											},
											"sink": {
												"name": "Phone"
											}
										},
										{
											"source": {
												"name": "PasswordHash"
											},
											"sink": {
												"name": "PasswordHash"
											}
										},
										{
											"source": {
												"name": "PasswordSalt"
											},
											"sink": {
												"name": "PasswordSalt"
											}
										},
										{
											"source": {
												"name": "ModifiedDate"
											},
											"sink": {
												"name": "ModifiedDateID"
											}
										}
									]
								}
							},
							"inputs": [
								{
									"referenceName": "Customer",
									"type": "DatasetReference"
								}
							],
							"outputs": [
								{
									"referenceName": "AzureSqlDWSinkDataset",
									"type": "DatasetReference",
									"parameters": {
										"sinkTableName": {
											"value": "@item().name",
											"type": "Expression"
										}
									}
								}
							]
						}
					]
				}
			}
		],
		"parameters": {
			"SourceContainer": {
				"type": "string"
			},
			"SourceDirectory": {
				"type": "string"
			}
		},
		"annotations": []
	}
}